*{
    font-family: 'Roboto', sans-serif;
}

nav{
    height: 51px;
    background-color: #212121;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
header{
    position: relative;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;
    
}

.menu .menuLink{
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}
.menu .menuItem{
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader{
    height: 84px;
    background-color:rgba(0,0,0, .6);
    position: absolute;
    width: 100%;
    margin-top: 51px;
}
.subheader .subheaderLogo{
    display: block;
    max-width: 100%;
    margin-top: 16px;
}
.subheader .subheaderOfficial{
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    opacity: 0,5;
    margin-top: 6px;
}

.subheader .subheaderCall{
    color:#ffffff;
    font-size: 12px;
    font-weight: 300;
    margin-top: 19px;
    text-align: right;
}
.subheader .subheaderPhone{
    display: block;
    margin-top: 8px;
    color:#ffffff;
    font-size: 22px;
    font-weight: 400;
    text-align: right;
    text-transform: uppercase;
    line-height: 12px;
}
.subheader .subheaderBtn{
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3 0 rgba(0,0,0, 0.12);
    border:none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    color:#ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 19px;
}

.promo{
    min-height: 800px;
    background: url('/src/img/BCHeader.jpg') center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promoHeader{
    color:#ffffff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    margin-bottom: 0;
}
.promo .promoSubheader{
    color:#ffffff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 36px;
    margin-bottom: 0;
    margin-top: 22px;
}

.promo .promoDescr{
    color:#ffffff;
    text-align: center;
    margin-top: 22px;
    font-weight: 400;
    line-height: 24px;
}

.promo .promoBtn{
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -3 0 rgba(0,0,0, 0.12);
    border:none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    color:#ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.reasons {
    padding: 71px 0 65px 0px;
}
.reasons .reasonsPosition{
    margin-left: 35px;
}
.label{
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.title{
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.reasons .reasonsBlock{
    display:flex;
    align-items: center;
    justify-content: c;
    margin-top: 35px;
}

.reasons .reasonsBlock .reasonsDescr {
    width: 343px;
    margin-left: 26px;
}

.reasons .reasonsBlock .reasonsDescr .reasonsSubtitle{
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}
.reasons .reasonsBlock .reasonsDescr .reasonsText {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}